@import "tailwindcss";

@font-face {
  font-family: "Doto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Doto-VariableFont_ROND,wght.ttf") format("truetype-variations");
  font-variation-settings: "ROND" 0;
}

:root {
  --background: #ffae52;
  --foreground: #fffefe;
  --color-white: #fffefe;
  --color-off-white: #f6f4ef;
  --color-orange: #ff7b00;
  --color-light-beige: #f9e7be;
  --color-light-yellow: #ffdf9e;
  --color-dark-brown: #422000;
  --color-gray: #b0b0b0;
  --color-gold: #a69254;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Doto", sans-serif;
  --font-mono: "Doto", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffae52;
    --foreground: #fffefe;
  }
}

body {
  background-color: var(--background);
  color: var(--color-white);
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}
